<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

<appSettings>
<add key="LiteDataBasePath" value="G:\WeaveSocketTreamProject\Example\Unity3D_2DShootServer_Client\UnityWPFServer\WeavingSocketServerWPF\WeavingSocketServerWPF\bin\Debug\MyUnityGame.db" />
<add key="TemplatePATH" value="Template" />
</appSettings>

</configuration>